body {
  background-color: rgb(180, 180, 180);
}
#mainContainer {
  margin-top: 150px;
}
#form {
  display: flex;
  height: 150px;
  width: 350px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(77, 116, 116);
  margin-bottom: 20px;
}
#nameInput {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#submit {
  height: 33px;
  width: 100px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.informationContainer {
  display: flex;
  background-color: rgb(101, 106, 172);
  font-size: 17px;
  border-radius: 5px;
  color: white;
  text-align: center;
  align-items: center;
  width: 350px;
  height: 70px;
  margin: auto;
}
